@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  font-family: 'PT Mono', monospace;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
  max-width: 100%;
  padding-top: 2%;
  image-rendering: smooth;
  animation: fadeIn ease-in .4s;
  -webkit-animation: fadeIn ease-in .4s;
  -moz-animation: fadeIn ease-in .4s;
  -o-animation: fadeIn ease-in .4s;
  -ms-animation: fadeIn ease-in .4s;
  background-color: white;
}

body {
  display: flex;
  animation: fadeIn ease-in-out;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

header {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  a {
    img {
      max-width: 450px;
      transition: .1s ease-in-out;
      position: sticky;

      &:hover {
        opacity: 60%;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-top: 20px;
    justify-content: center;

    a {
      &:hover {
        opacity: 50%;
      }
    }
  }
}

a {
  &:link {
    text-decoration: none;
  }

  &:visited {
    color: black;
  }
}

nav {
  a {
    font-family: 'Oswald', sans-serif;
    font-size: 180%;
    color: black;
    text-decoration: none;
    margin: 0.9% .9% 0% 0.9%;
    padding: 0.5% 1% 0.5% 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  align-items: center;
  margin: -1% 1% 2% 1%;

  a.project {
    box-shadow: 1vh #3b3b3bbe;
  }

  a {
    width: 900px;
    margin-bottom: 30px;

    img {
      max-width: 100%;
      object-fit: cover;
      opacity: 1;
      transition: .2s ease-in-out;
      border-radius: 2vh;
      margin-top: 1%;
    }
  }

  img {
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.page {
  img {
    max-width: 80%;
    border-radius: 2vh;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #000;
  }

  div {
    text-align: center;
  }
}

.back-to-top-fixed {
  text-decoration: none;
  transition: .1s ease-in-out;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  position: fixed;
  z-index: 3;
  display: block;
  bottom: 30px;
  height: 60px;
  width: 60px;
  right: 30px;

  &:hover {
    opacity: 0.7;
  }
}

.icon-back-to-top {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  fill: #000;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  width: 24px;
}

svg {
  &:not(:root) {
    overflow: hidden;
  }
}

div.tags {
  margin-top: -35px !important;
  margin-bottom: 20px;

  li {
    background-color: #e9e9e9;
    margin: 8px 20px;
    padding: 2px;
    border: 3px solid #e9e9e9;
    border-radius: 3px;

    &:hover {
      transform: scale(1.05);
    }
  }

  li#project {
    background-color: black;
    color: white;
    margin: 8px 20px;
    padding: 2px;
    border-radius: 3px;
  }
}

#quasar {
  li#project {
    background-color: #0b0035;
    border: 3px solid #0b0035;
  }
}

#zoomba {
  li#project {
    background-color: #ff0089;
    border: 3px solid #ff0089;
  }
}

#research {
  li#project {
    background-color: #7e9dc0;
    border: 3px solid #7e9dc0;
  }
}

#cma {
  li#project {
    background-color: #9c2d70;
    border: 3px solid #9c2d70;
  }
}

#trendylocations {
  li#project {
    background-color: #b8886d;
    border: 3px solid #b8886d;
  }
}

#brainexercise {
  li#project {
    background-color: #ff9eb2;
    border: 3px solid #ff9eb2;
  }
}

#portfolio {
  li#project {
    background-color: #000000;
    border: 3px solid #000000;
  }
}

#meditation {
  li#project {
    background-color: #272727;
    border: 3px solid #272727;
  }
}

#aframe {
  li#project {
    background-color: #090090;
    border: 3px solid #090090;
  }
}

#gtsalsa {
  li#project {
    background-color: #fd3738;
    border: 3px solid #fd3738;
  }
}

.tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    cursor: default;
    max-width: 1000px;
  }
}

@media (max-width: 500px) {
  body {
    padding-bottom: 50px;
  }

  header {
    nav {
      margin-top: 30px;
      margin-bottom: 30px;
      justify-content: space-between;
      font-size: 80%;
    }

    a#logo {
      #logo {
        margin-top: 10px;
        height: 140px;
      }
    }
  }

  .container {
    a.project {
      width: 90vw;
      box-shadow: 1vh #3b3b3bbe;
    }
  }

  .page {
    img {
      font-size: 13px;
    }
  }

  ul {
    margin-top: 5px;
  }

  div.tags {
    margin-top: -10px;
    margin-bottom: 0px;

    li#tag {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  div.tags {
    margin-top: -20px !important;
    margin-bottom: 10px;
  }
}