@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  p {
    text-align: left;
  }

  font-family: 'PT Mono',
  monospace;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
  max-width: 100%;
  padding-top: 2%;
  image-rendering: smooth;
  animation: fadeIn ease-in .4s;
  -webkit-animation: fadeIn ease-in .4s;
  -moz-animation: fadeIn ease-in .4s;
  -o-animation: fadeIn ease-in .4s;
  -ms-animation: fadeIn ease-in .4s;
  background-color: #fff;
}

body {
  flex-direction: column;
  align-items: center;
  display: flex;
  animation: fadeIn ease-in-out;
  justify-items: center;
}

header {
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    img {
      max-width: 450px;
      transition: .1s ease-in-out;
      position: sticky;

      &:hover {
        opacity: 80%;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 85%;
    margin-top: 20px;

    a {
      &:hover {
        opacity: 50%;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  margin: -1% 1% 2%;

  a {
    img {
      object-fit: cover;
      border-radius: 2vh;
      max-width: 100%;
      opacity: 1;
      transition: .2s ease-in-out;
      margin-top: 1%;
    }

    width: 900px;
    margin-bottom: 30px;
  }

  a.project {
    transform: scale(1);
    box-shadow: 1vh #3b3b3bbe;
  }

  img {
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }
  }
}

a {
  &:link {
    text-decoration: none;
  }

  &:visited {
    color: #000;
  }

  &#resume {
    width: 60vh;
  }

  img#resume {
    width: 60vh;
    object-fit: cover;
    border-radius: 2vh;
    transition: .3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, .1);
  }
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/

a:focus-visible {
  outline: none;
}

img:focus-visible {
  outline: none;
}

nav {
  a {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 180%;
    text-decoration: none;
    padding: .5% 1%;
    margin: 2% .9%;
  }
}

.article {
  img {
    margin: 3% 0 1%;

    &:hover {
      opacity: 1;
      box-shadow: none;
    }
  }
}

a#resume {
  margin-top: 10% !important;
  border-radius: 2vh;
  padding: 0;
}

img#resume {
  &:hover {
    opacity: 1;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .26), 0 10px 24px 0 rgba(0, 0, 0, .322);
  }
}

.page {
  p {
    margin: 4% 0 2%;
  }

  img {
    max-width: 80%;
    border-radius: 2vh;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

p {
  max-width: 80%;
  border-radius: 2vh;
  font-size: 20px;
  width: 100%;
  color: #000;
  text-align: center;
}

.back-to-top-fixed {
  text-decoration: none;
  transition: .1s ease-in-out;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .1);
  border-radius: 60px;
  position: fixed;
  z-index: 3;
  display: block;
  bottom: 30px;
  height: 60px;
  width: 60px;
  right: 30px;

  &:hover {
    opacity: .7;
  }
}

.icon-back-to-top {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  left: 50%;
  top: 50%;
  fill: #000;
  height: 24px;
  opacity: .3;
  position: absolute;
  width: 24px;
}

svg {
  &:not(:root) {
    overflow: hidden;
  }
}

.social {
  flex: 1;
  margin-top: -4%;
  display: flex;

  ul {
    padding-inline-start: 0px;
    justify-content: space-between;
    width: 187px;

    li {
      list-style-type: none;
      display: inline;
      min-width: 300px;

      a {
        margin: 0 2%;

        &:hover {
          opacity: 65%;
        }

        svg {
          fill: #022a55;
          height: 48px;
          width: 48px;
        }
      }
    }
  }
}

#link {
  color: inherit;
  transition: .2s ease-in-out;

  &:hover {
    opacity: 70%;
  }
}

#center {
  p {
    text-align: center !important;
  }
}

div.tags {
  margin-top: -35px !important;
  margin-bottom: 20px;

  li {
    margin: 8px 20px;
    padding: 2px;
    border-radius: 3px;
    background-color: #e9e9e9;
    border: 3px solid #e9e9e9;

    &:hover {
      transform: scale(1.05);
    }
  }

  li#project {
    margin: 8px 20px;
    padding: 2px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
  }
}

#quasar {
  li#project {
    background-color: #0b0035;
    border: 3px solid #0b0035;
  }
}

#zoomba {
  li#project {
    background-color: #ff0089;
    border: 3px solid #ff0089;
  }
}

#research {
  li#project {
    background-color: #7e9dc0;
    border: 3px solid #7e9dc0;
  }
}

#cma {
  li#project {
    background-color: #9c2d70;
    border: 3px solid #9c2d70;
  }
}

#trendylocations {
  li#project {
    background-color: #b8886d;
    border: 3px solid #b8886d;
  }
}

#brainexercise {
  li#project {
    background-color: #ff9eb2;
    border: 3px solid #ff9eb2;
  }
}

#portfolio {
  li#project {
    background-color: #000;
    border: 3px solid #000;
  }
}

#meditation {
  li#project {
    background-color: #272727;
    border: 3px solid #272727;
  }
}

#aframe {
  li#project {
    background-color: #090090;
    border: 3px solid #090090;
  }
}

#gtsalsa {
  li#project {
    background-color: #fd3738;
    border: 3px solid #fd3738;
  }
}

.tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    cursor: default;
    max-width: 1000px;
  }
}

#about {
  border-radius: 2vh;
  object-fit: cover;
  transition: .2s ease-in-out;
  padding: 0%;
  max-width: 90%;
  margin: 10% 0% 0% 0% !important;
}

@media (max-width:500px) {

  body {
    padding-bottom: 50px;
  }

  html {
    p {
      text-align: left;
    }

    div#center {
      p {
        text-align: center !important;
      }
    }
  }

  header {
    nav {
      margin-top: 30px;
      margin-bottom: 30px;
      justify-content: space-between;
      font-size: 80%;
    }

    a#logo {
      #logo {
        margin-top: 10px;
        height: 140px;
      }
    }
  }

  .container {
    a {
      width: 90vw;

      img#resume {
        width: 90vw;
      }
    }

    a.project {
      margin: 2%;
      transform: scale(1);
      width: 90vw;
      box-shadow: 1vh #3b3b3bbe;
    }
  }

  a#resume {
    width: 90vw;
    margin-top: 4.5% !important;
    margin: 0 0 10% 0;
    border-radius: 2vh;
  }

  .page {
    img {
      font-size: 13px;
    }
  }

  p {
    font-size: 13px;
  }

  div.tags {
    margin-top: -10px;
    margin-bottom: 0;

    li#tag {
      display: none;
    }
  }

  iframe {
    display: none;
  }

  .about_img {
    margin: 10% 0% 0% 0% !important;
  }
}

@media (max-width:800px) {
  div.tags {
    margin-top: -20px !important;
    margin-bottom: 10px;
  }
}