* {
    font-family: 'Oswald', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
    margin-top: 1.6%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease-in;
    animation-duration: 0.5s;
    max-width: inherit;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header a {
    justify-content: center;
}

header a img {
    max-width: 40%;    
    padding-left: 30%;
}


header nav a:hover {
    opacity: 70%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-evenly;
    margin-top: -1%;
}

nav a {
    font-size: 180%;
    color: black;
    text-decoration: none;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0% 1% 1% 1%;
}

.container a {
    background: #585858;
    max-width: 910px;
    margin: 1% 0% 1% 0%;
}

.container a img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .3s ease-in-out;
}

.container a:hover img {
    opacity: .5;
}

.page div {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 0% 10% 5% 10%;
    margin-top: 1%;
    align-items: center;
    align-self: center;
}

section p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #3b3b3bbe;
}

section img {
    padding: 1%;
    max-width: 100%;
    object-fit: contain;
}

.social {
    max-width: inherit;
    margin-top: 10px;
    text-align: center;
    text-size-adjust: 100%;
}

.social a {
    display: flex;
    float: left;
    text-align: center;
}

.link-transition a {
    transition: background 0.2s ease, color 0.2s ease;
}

ul {
    padding-inline-start: 0px;
    justify-items: space-around;
    min-width: 300px;
}

ul li {
    list-style-type: none;
    display: inline;
    min-width: 300px;
}

ul li a:hover {
    opacity: 65%;
}

ul li a {
    margin: 0% 2%;
}

ul li a svg {
    fill: rgb(2, 42, 85);
    height: 48px;
    width: 48px;
}

label {
    margin: 1.5% 0%;
    width: 95%;
}

.captcha {
    padding-left: 280px;
}

form {
    width: 100%;
    padding-top: 0%;
}

input, textarea {
    width: 100%;
}