* {
  font-family: 'PT Mono', monospace;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
  max-width: 100%;
  padding-top: 2%;
  image-rendering: smooth;

  animation: fadeIn ease-in .5s;
  -webkit-animation: fadeIn ease-in .5s;
  -moz-animation: fadeIn ease-in .5s;
  -o-animation: fadeIn ease-in .5s;
  -ms-animation: fadeIn ease-in .5s;

  background-color: white;
}

.invert {
  -webkit-filter: invert(100%);
}

@media (max-width: 500px) {
  body {
    padding-bottom: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  display: flex;
  animation: fadeIn ease-in-out;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

header {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header a img {
  max-width: 500px;
  transition: .1s ease-in-out;
  position: sticky;
}

header a img:hover {
  opacity: 60%;
}

header nav a:hover {
  opacity: 50%;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-top: 20px;
  justify-content: center;
}

@media (max-width: 500px) {
  nav {
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  nav a {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  #logo {
    margin-top: 10px;
    height: 140px;
  }
}

nav a {
  font-family: 'Oswald', sans-serif;
  font-size: 180%;
  color: black;
  text-decoration: none;
  margin: 0.9% .9% 0% 0.9%;
  padding: 0.5% 1% 0.5% 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  align-items: center;
  margin: -1% 1% 2% 1%;
}

.container a.project {
  box-shadow: 1vh #3b3b3bbe;
  transform: scale(0.8);
}

@media (max-width: 500px) {
  .container a.project {
    box-shadow: 1vh #3b3b3bbe;
    margin: 2% 2%;
    transform: scale(1);
  }
}

.container a img {
  max-width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: .2s ease-in-out;
  border-radius: 2vh;
  margin-top: 1%;
}

.article img {
  margin: 3% 0% 1% 0%;
}

.container img:hover {
  opacity: .7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article img:hover {
  opacity: 1;
  box-shadow: none;
}

p#references {
  margin-bottom: 5%;
}

p#references a {
  text-decoration: underline;
  margin: 0% 2% 0% 2%;
}

@media (max-width: 500px) {
  p#references {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  p#references a {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {
  a img#resume.carbon {
    width: 98%;
    margin: 8% 0% !important;
  }
}

a#resume {
  margin-top: 10% !important;
  border-radius: 2vh;
  padding: 0px;
}

@media (max-width: 500px) {
  a#resume {
    width: 98%;
    margin-top: 4.5% !important;
    margin: 0% 0% 10% 0%;
    border-radius: 2vh;
  }
}

a img#resume {
  max-width: 750px;
  transition: .3s ease-in-out;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2vh;
}

@media (max-width: 500px) {
  a img#resume {
    border-radius: 2vh;
    margin: 0px !important;
  }
}

img#resume:hover {
  opacity: 1;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.26), 0 10px 24px 0 rgba(0, 0, 0, 0.322);
}

/* #gtsalsa {
    background-image: url(/images/gtsalsa-container.png);
}

#baugasm {
    background-image: url(/images/baugasm-container.png);
} */

.page p {
  margin: 4% 0% 2% 0%;
}

.page img,
p {
  max-width: 80%;
  border-radius: 2vh;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: #000;
}

.page p#tagline {
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 20px;
  color: gray;
  font-style: italic;
}

@media (max-width: 500px) {
  .page p#tagline {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    color: gray;
    font-style: italic;
  }
}

@media (max-width: 500px) {
  .page img,
  p {
    font-size: 13px;
  }
}

.page div {
  text-align: center;
}

a.highlight {
  color: darkslateblue;
}

div.code script {
  text-align: left;
  width: 600px;
}

#long {
  flex: 1 0 auto;
}

.back-to-top-fixed {
  text-decoration: none;
  transition: .1s ease-in-out;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  position: fixed;
  z-index: 3;
  display: block;
  bottom: 30px;
  height: 60px;
  width: 60px;
  right: 30px;
}

.back-to-top-fixed:hover {
  opacity: 0.7;
}

.icon-back-to-top {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  fill: #000;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  width: 24px;
}

.link-transition a svg {
  transition: fill 0.2s ease;
}

svg:not(:root) {
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0% 10% 5% 10%;
  align-items: center;
  align-self: center;
}

section img {
  padding: 1%;
  max-width: 100%;
  object-fit: contain;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 130%;
  margin-top: -7%;
}

.link-transition a {
  transition: background 0.2s ease, color 0.2s ease;
}

.social ul {
  padding-inline-start: 0px;
  min-width: 300px;
}

.social ul li {
  list-style-type: none;
  display: inline;
  min-width: 300px;
}

.social ul li a:hover {
  opacity: 65%;
}

.social ul li a {
  margin: 0% 2%;
}

.social ul li a svg {
  fill: rgb(2, 42, 85);
  height: 48px;
  width: 48px;
}

#link {
  color: inherit;
  transition: .2s ease-in-out;
}

#link:hover {
  opacity: 70%;
}

a-scene {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.a-canvas {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
}

#embeddedScene {
  margin-top: 3%;
  display: block;
  width: 120vh;
  height: 84vh;
}

div.tags li {
  background-color: rgb(233, 233, 233);
  margin: 8px 20px;
  padding: 2px;
  border: 3px solid rgb(233, 233, 233);
  border-radius: 3px;
}

div.tags li#project {
  background-color: black;
  color: white;
  margin: 8px 20px;
  padding: 2px;
  border-radius: 3px;
}

#quasar li#project {
  background-color: rgb(11, 0, 53);
  border: 3px solid rgb(11, 0, 53);
}

#zoomba li#project {
  background-color: #ff0089;
  border: 3px solid #ff0089;
}

#research li#project {
  background-color: #7e9dc0;
  border: 3px solid #7e9dc0;
}

#trendylocations li#project {
  background-color: #b8886d;
  border: 3px solid #b8886d;
}

#brainexercise li#project {
  background-color: #ff9eb2;
  border: 3px solid #ff9eb2;
}

#portfolio li#project {
  background-color: #000000;
  border: 3px solid #000000;
}

#meditation li#project {
  background-color: #272727;
  border: 3px solid #272727;
}

#aframe li#project {
  background-color: #090090;
  border: 3px solid #090090;
}

#gtsalsa li#project {
  background-color: #fd3738;
  border: 3px solid #fd3738;
}

#baugasm li#project {
  background-color: #00bb4d;
  border: 3px solid #00bb4d;
}

div.tags li:hover {
  transform: scale(1.05);
}

.tags ul {
  /* Use flex boxes to align li items */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Remove default padding from major browsers */
  padding: 0;
  /* Hide the default decorations for li items */
  list-style: none;
  cursor: default;
  max-width: 900px;
}

div.tags {
  margin-top: -35px !important;
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  div.tags {
    margin-top: -20px !important;
    margin-bottom: 25px;
  }
}

.article#long img {
  width: 600px;
}

iframe {
  margin: 40px 0px;
  min-width: 60vw;
  max-width: 80vw;
  min-height: 30vh;
  height: 80vh;
}

iframe#chile {
  width: 98%;
  min-height: 100vh;
  border: 0"

}

@media (max-width: 800px) {
  iframe {
    display: none;
  }
}

/* 
@media (max-width: 500px) {
  iframe {
    display: none;
  }
} */

@media (max-width: 500px) {
  div.tags li#tag {
    display: none;
  }

  div.tags {
    margin-top: -10px;
    margin-bottom: 5px;
  }
}

img.carbon#resume {
  width: 800px;
}

@media (max-width: 500px) {
  img.carbon#resume {
    width: 98%;
  }
}